/.cproject
/.project
/.settings
/.autotools
/autom4te.cache
/doc
/auxdir
Makefile
Makefile.in
/aclocal.m4
/configure
/config.log
/config.status
/stamp-h1
/config.h.in
/config.h
.deps
.dirstamp
*.o
*~
/vpnes
/vpnes.*
/.vs
/vpnes_msvc.VC.*
/Debug
/Release
/vpnes_msvc.vcxproj.user