/.cproject
/.project
/.settings
/.autotools
/autom4te.cache
/auxdir
Makefile.in
/aclocal.m4
/configure
/stamp-h1
/config.h.in
*~
/.vs
/vpnes_msvc.VC.*
/Debug
/Release
/Tests
/vpnes_msvc.vcxproj.user
.deps
.dirstamp
*.log
*.trs
*.o

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
